.toe-paginator {
  width: 100%;
  height: 60px;

  display: flex;
  align-items: center;

  .p-dropdown {
    min-width: 100px;
    height: 32px !important;
    font-size: 13px;

    .p-dropdown-trigger {
      width: 32px;
    }

    &.p-inputwrapper-filled {
      display: none;
    }

    &.dropdown-paginator.p-inputwrapper-filled {
      display: flex;
    }
  }

  .p-dropdown-label {
    display: flex;
    align-items: center;
  }

  .p-paginator-element {
    cursor: pointer;
    font-size: 14px;
    width: 40px;
    height: 40px;

    .pi {
      font-size: 14px;
    }
  }

  .p-inputtext {
    font-size: 14px;
  }

  .p-paginator-page.p-paginator-element.p-link {
    width: 32px !important;
    height: 32px !important;
    border-radius: 8px;
    font-size: 12px;
    min-width: auto;

    &:focus {
      box-shadow: none !important;
    }

    &.p-highlight {
      background-color: #e5e5e5;
      color: #454545;
    }
  }

  .p-paginator.p-paginator-pages.p-paginator-page {
    min-width: none !important;
    min-width: auto;
  }

  .p-paginator-last.p-paginator-element.p-link {
    width: 32px !important;
    height: 32px !important;
    border-radius: 8px;
    font-size: 12px;
    min-width: auto;
  }

  .p-paginator-next.p-paginator-element.p-link {
    width: 32px !important;
    height: 32px !important;
    border-radius: 8px;
    font-size: 12px;
    min-width: auto;
  }

  .p-paginator-prev.p-paginator-element.p-link {
    width: 32px !important;
    height: 32px !important;
    border-radius: 8px;
    font-size: 12px;
    min-width: auto;
  }

  .p-paginator-first.p-paginator-element.p-link {
    width: 32px !important;
    height: 32px !important;
    border-radius: 8px;
    font-size: 12px;
    min-width: auto;
  }
}
