.toe-layout-user-page-container__footer {
  height: 235px;
  display: flex;
  // display: none;
  flex-direction: column;
  flex-shrink: 0;
  background-color: #080940;

  & .footer-top {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 75px;

    & .pi {
      color: #fff;
    }

    & .btn {
      padding: 7px 10px;
      border-radius: 2px;
      border: 1px solid #fff;

      &:hover,
      :focus {
        background-color: #fff;

        & .pi {
          color: #080940;
          stroke: #080940;
        }
      }

      &:focus {
        box-shadow: 0 0 0 0.2rem rgb(248 249 250 / 50%);
      }
    }
  }

  & .footer-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

    &__label {
      color: #fff;
      font-weight: bold;
      line-height: 40px;
      margin-right: 1rem;
    }

    &__btn-send {
      margin-left: 20px;
      border-radius: 2px;
      padding: 8px 6px;
      border: 1px solid #fff;
      background-color: transparent;

      &:hover {
        background-color: #fff;
        color: #080940;
      }
    }
  }

  & .footer-copyright {
    height: 64px;
    background-color: #060733;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
