.toe-menubar {
  --main-color: #43c1c9;
  background-color: transparent;
  border: none;

  .pi {
    font-size: 13px;
  }

  .p-submenu-list {
    width: max-content;
    min-width: 12.5rem;
  }

  .p-menuitem-link {
    white-space: nowrap;
    padding: 12px 15px 12px 10px !important;

    &:focus {
      outline: none;
      box-shadow: none !important;
    }

    &:active {
      outline: none;
      box-shadow: none;
    }
  }

  .p-menubar {
    .p-menubar-root-list > .p-menuitem > .p-menuitem-link {
      padding: 0px 8px;
    }
  }

  .pi.pi-bars {
    font-size: 24px;
  }
}
